body {
    font-family: Arial, sans-serif;
    
        
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-image: url(uni4.jpg);
    background-size: cover;
    position: relative;
  }
  
  nav {
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-top: -20px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
  
  nav ul li {
    display: inline-block;
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
  
  }
  
  nav a {
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    cursor: pointer;
  }
  
  nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
  }
  
  nav ul li:hover > ul {
    display: inherit;
  }
  
  nav ul ul ul {
    left: 100%;
    top: 0;
  }
  
  nav ul li:hover {
    background-color:transparent;
  }
  
  .logo {
        margin-top: -8px;
        position: absolute;
        top: 20px;
        left: 20px;
        width: 160px;
      height: 55px;
      
  }
  
  .header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  :root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    